@media (max-width: 900px) {
  .homeBgBox {
    background-image: url("/fMentorFiles/starter-code/assets/home/background-home-tablet.jpg");
    background-position: 0 70%;
    background-size:cover;
    flex-direction: column;
    align-items: center;
  
    min-height: 160vh;
  }

  .homeContentBox {
    margin-top: 200px;
    flex-direction: column;
    width: fit-content;
  }

  .homeSpaceBox {
    text-align: center;
    margin-bottom: 100px;
  }
}

@media(max-width: 480px) {
  .homeBgBox {
    min-height: 140vh;
    justify-content: start;
    background-image: url('/fMentorFiles/starter-code/assets/home/background-home-mobile.jpg');

  }
  
  .homeSpaceBox {
    width: 80%;
  }

  .homeContentBox {
    margin-top: 140px;
  }

  .exploreBox button {
    height: 14rem;
    width: 14rem;
  }

  .soYouWantToTravelTo {
    color: var(--light-blue);
  }
}